<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawPal"
        tools:targetApi="31">

        <!-- Set PrijavaActivity as the launcher activity -->
        <activity
            android:name=".f01_autorizacija.PrijavaRegistracijaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Define other activities -->
        <activity android:name=".main.MainActivity" />
        <activity android:name=".f12_shop.ShopActivity" />
        <activity android:name=".f11_profil.ProfilKorisnikaActivity"/>
        <activity android:name=".f11_profil.KreiranjeProfilaPsaActivity"/>
        <activity android:name=".f11_profil.PrikazProfilaPsaActivity"/>
        <activity android:name=".f11_profil.UredivanjeProfilaKorisnika"/>
        <activity android:name=".f01_autorizacija.BrisanjeDeaktivacijaActivity"/>
        <activity android:name=".main.BaseActivity" />
        <activity android:name=".f11_profil.PromjenaLozinkeActivity"/>


    </application>

</manifest>
